body {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: linear-gradient(
    109.6deg,
    #50b7ea 11.2%,
    #70d1f8 55.4%,
    #f4e08f 100.2%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: default;
  /* height: 100vh; Optional: Setzt die Höhe des Körpers auf die volle Höhe des Viewports */
}

h1 {
  display: inline;
  font-weight: 300;
}

form {
  min-width: 495px;
  border: none;
}

footer {
  color: whitesmoke;
  font-size: 10px;
  font-family: Arial;
  text-align: center;
  position: relative;
  z-index: 1000; /* Stellen Sie sicher, dass dies hoch genug ist, um über anderen Elementen zu sein */
}

a {
  text-decoration: none;
  color: #b4e3fc;
}

.weatherwise-logo img {
  display: block;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 300px;
}

.search-input {
  outline: none;
  flex-grow: 1;
  min-width: 380px;
  background-color: rgba(255, 255, 255, 0.5);
  color: grey;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-right: 5px;
}

.search-input:hover {
  cursor: text;
}

.search-button {
  font-size: 14px;
  background-color: #059fed;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  min-width: 100px;
  white-space: nowrap;
}

.search-button:hover {
  cursor: pointer;
}

.current-weather {
  background: rgba(255, 255, 255, 0.4);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(65, 50, 100, 0.1);
  min-width: 500px;
  max-width: 500px;
  max-height: 260px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 20px;
}

.location {
  padding: 20px 0px 0px;
  font-size: 15px;
}

.weather-description {
  min-width: 250px;
}

.date,
.current-condition {
  font-size: 14px;
  padding-bottom: 5px;
}

.current-condition {
  white-space: nowrap;
}

span.material-symbols-outlined.location-icon {
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  opacity: 100%;
}

.current-temperature {
  font-size: 92px;
  font-weight: 100;
  position: relative;
  top: 10px;
}

.celsius {
  font-size: 26px;
  position: relative;
  top: -34px;
  left: 3px;
}

.min-max-temperature {
  font-size: 16px;
  position: relative;
  top: 10px;
  left: -26px;
  opacity: 60%;
}

.current-weather-container {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  max-height: 200px;
}

.current-temperature-icon {
  width: 210px; /* Breite des Icons festlegen */
  height: 180px; /* Höhe des Icons festlegen */
  object-fit: contain; /* Sorgt dafür, dass das Icon seine Proportionen behält */
  position: relative;
  top: -20px;
  left: -20px;
}

.humidtity-wind {
  font-size: 16px;
  color: rgba(255, 255, 255);
  display: flex; /* Setzt das Element als Flexbox Container */
  align-items: center; /* Zentriert die Inhalte vertikal */
  gap: 5px;
  padding: 16px 0px;
}

.current-humidity {
  padding-right: 5px;
}

.material-symbols-outlined {
  color: #059fed;
  font-weight: lighter;
  font-size: 16px;
}

.weather-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.col-2 {
  background: rgba(255, 255, 255, 0.4);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(65, 50, 100, 0.1);
  width: 40px;
  padding: 20px;
  display: inline-block;
  justify-content: space-between;
  margin: 6px;
  transition: transform 300ms ease-in-out, background-color 300ms ease-in-out,
    color 300ms ease-in-out;
}

.forecast-day {
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.forecast-temperature {
  font-size: 13px;
}

.forecast-temperature-min {
  opacity: 60%;
}

.spinner {
  border: 5px solid #e5f5f9;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

.col-2:hover {
  transform: scale(1.5);
  background-color: #ffffff;
  color: #3498db;
  transition: ease-in-out;
  transition-duration: 300ms;
}

.col-2:hover .forecast-day {
  color: #059fed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
